.input-grp label {
    display: block;
}

.input-grp input {
    font-family: 'Inter', sans-serif;
    padding: 16px 24px;
    font-size: 16px;
    margin: 8px 0;
    border-radius: 8px;
    border: 2px solid var(--gris);
    outline: var(--gris);
    width: 100%;
}

.input-grp input[type="checkbox"] {
    width: auto;
}

.input-grp .error {
    padding: 8px 16px;
    color: var(--error);
    border: 2px dashed;
    border-radius: 4px;
    display: none;
}

.input-grp.has-error .error {
    display: block;
}

.col-2 {
    display: flex;
    gap: 16px
}